extends ./layout.pug

mixin CsrfForm(endpoint)
    form(action=endpoint method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        block

block title
    title CJIDC - ADMIN

block main
    h1 CJIDC Realtime - Admin
    section
        h3 Add Score data
        +CsrfForm("/score")
            select(name="classes")
                each cls in classes
                    option(value=cls) #{cls}
            select(name="kind")
                each kind in kinds
                    option(value=kind) #{kind}
            input(type="number" name="point" step="5" max=100 min=0 placeholder="point")
            input(type="submit" value="submit")
